$pointWidth: 24px;

body {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Galvji;
  color: #2280EF;
  font-weight: bold;
  width: 100%;
  height: 100%;
  user-select: none;

  &__point, &__secondPoint {
    z-index: 1;
    position: absolute;
    width: $pointWidth;
    height: $pointWidth;
    border-radius: 50%;
    background-color: #2280EF;
    top: -7px;
    border: 6px solid white;;
    left: -(calc($pointWidth/2));
    box-shadow: 0 0 0 2px #C0DBFB, 0px 0px 0px 4px #C0DBFB;

    &--value {
      display: flex;
      justify-content: center;
      padding: 20px 5px;
      margin: -75px -18px;
      color: white;
      background: #2280EF;
      border-radius: 50%;
      width: 50px;
    }
  }

  &__secondPoint {
    right: -(calc($pointWidth/2));
    left: auto;
    background: #2280EF;
  }

  &__ruler {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background: #2280EF;
    border-radius: 10px;
  }

  &__ruler-value {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--item {
      padding-top: 30px;
      position: relative;
      width: 3px;
      display: flex;
      justify-content: center;
    }

    &--item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &__menu {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--item {
      display: flex;
      align-items: center;
    }

    &--selected-value, &--step {
      color: #2280EF;
      font-weight: bold;
      width: 50px;
      margin-left: 10px;
      border-color: #2280EF;
      border-radius: 5px;
    }

    &--value, &--range {
      position: absolute;
      opacity: 0;
    }

    &--value+label, &--range+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    &--value+label::before, &--range+label::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #2280EF;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      background-color: #C0DBFB;
    }
    &--value:checked+label::before, &--range:checked+label::before {
      border-color: #0b76ef;
      background-color: #0b76ef;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
