$pointWidth: 24px;

body {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Galvji;
  color: #2280EF;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  user-select: none;
  &__item {
    padding: 25px 0;
  }
  &__control-panel {
    display: flex;
    justify-content: space-between;
    width: 75%;
    &--item {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__point, &__secondPoint {
    z-index: 1;
    position: absolute;
    width: $pointWidth;
    height: $pointWidth;
    border-radius: 50%;
    background-color: #2280EF;
    top: 35%;
    border: 6px solid white;;
    left: -(calc($pointWidth/2));
    box-shadow: 0 0 0 2px #C0DBFB, 0px 0px 0px 4px #C0DBFB;
    transition: 0.1s;
    &--value {
      display: flex;
      justify-content: center;
      padding: 20px 5px;
      margin: -75px -18px;
      color: white;
      background: #2280EF;
      border-radius: 50%;
      width: 50px;
    }
  }
  &__secondPoint {
    right: -(calc($pointWidth/2));
    left: auto;
    background: red;
  }
  &__ruler {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background: #2280EF;
    border-radius: 10px;
  }
  &__ruler-value {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &--item {
      padding-top: 30px;
      position: relative;
      width: 3px;
      display: flex;
      justify-content: center;
    }
    &--item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    width: 75%;
    &--input {
      width: 40px;
    }
  }
}
